In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Earnings Calender above 500 Mil Mrkt Cap.csv')

In [4]:
df

    Unnamed: 0 Symbol            Release        Date         MarketCap
0            0   ORCL  time-not-supplied  2023-12-11  $282,396,757,060
1            1   CASY  time-not-supplied  2023-12-11   $10,551,474,109
2            2   AZUL  time-not-supplied  2023-12-11      $950,932,986
3            3   BLBD  time-not-supplied  2023-12-11      $800,270,798
4            4     QD  time-not-supplied  2023-12-11      $503,974,527
..         ...    ...                ...         ...               ...
59          59    GBX  time-not-supplied  2024-01-05    $1,448,209,137
60          60    JEF   time-after-hours  2024-01-08    $8,448,674,001
61          61    CMC    time-pre-market  2024-01-08    $5,637,167,200
62          62   HELE    time-pre-market  2024-01-08    $2,753,683,797
63          63   ACCD   time-after-hours  2024-01-08      $849,226,618

[64 rows x 5 columns]

In [5]:
df2 = pd.read_csv('Earnings Calender above 500 Mil Mrkt Cap.csv')

In [7]:
# Vertical Concat
vertical_concat = pd.concat([df, df2], axis=0)

In [8]:
vertical_concat

    Unnamed: 0 Symbol            Release        Date         MarketCap
0            0   ORCL  time-not-supplied  2023-12-11  $282,396,757,060
1            1   CASY  time-not-supplied  2023-12-11   $10,551,474,109
2            2   AZUL  time-not-supplied  2023-12-11      $950,932,986
3            3   BLBD  time-not-supplied  2023-12-11      $800,270,798
4            4     QD  time-not-supplied  2023-12-11      $503,974,527
..         ...    ...                ...         ...               ...
59          59    GBX  time-not-supplied  2024-01-05    $1,448,209,137
60          60    JEF   time-after-hours  2024-01-08    $8,448,674,001
61          61    CMC    time-pre-market  2024-01-08    $5,637,167,200
62          62   HELE    time-pre-market  2024-01-08    $2,753,683,797
63          63   ACCD   time-after-hours  2024-01-08      $849,226,618

[128 rows x 5 columns]

In [13]:
# import OS module
import os
 
# Get the list of all files and directories
path = os.getcwd()
dir_list = os.listdir(path)

In [14]:
dir_list

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Earnings Calender above 500 Mil Mrkt Cap.csv',
 'myenv',
 'NASDAQ_Scraper.py',
 'Past_Earnings_Calendar.py',
 'README.md',
 'requirements.txt',
 'Untitled.ipynb']

In [16]:
csvFile = 'Earnings Calender above 500 Mil Mrkt Cap 1.csv'
if csvFile not in dir_list:
    print('not there!')

not there!

In [ ]:
def checkFile(csvFile, dir_list):
    if csvFile in dir_list: 
        # If it is there read the data in
        df = pd.read_csv(csvFile)
    else:
        # If it aint there
        '''
        Save the dictionary as a new dataframe and create new csv file from that
        '''

In [17]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [3, 4, 5], 'Name': ['Charlie', 'David', 'Eve']})

# Merge DataFrames on the 'ID' column
merged_df = pd.merge(df1, df2, how='outer', indicator=True).query('_merge == "left_only"').drop('_merge', axis=1)

print(merged_df)

   ID   Name
0   1  Alice
1   2    Bob